body {
    margin: 0;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: white;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.task-input {
    width: 80%;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.input-button {
    background-color: bisque;
    border: 1px solid lightgoldenrodyellow;
    border-radius: 5px;
}

.task-area {
    border: 1px solid lightgray;
}

.task-tabs {
    display: flex;
    border-bottom: 1px solid lightblue;
    position: relative;
    cursor: pointer;
    padding: 0.5em;
}

.task-tabs div {
    padding: 1em;
}

#under-line {
    height: 4px;
    background-color: pink;
    position: absolute;
    width: 80px;
    left: 0px;
    top: 68px;
    padding: 0px;
}

.task {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.task-done {
    text-decoration: line-through;
}

.task-content {
    padding: 1em;
    flex: 1;
}

.button-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-button {
    height: 100%;
    width: 5em;
    border: none;
    background-color: white;
    transition: background-color 0.5s ease;
    flex: 1;
}

.check-button:hover {
    background-color: lightgreen;
    transition: background-color 0.5s ease;
}

.delete-button {
    width: 5em;
    height: 100%;
    border: none;
    background-color: white;
    transition: background-color 0.5s ease;
    flex: 1;
}

.delete-button:hover {
    background-color: lightcoral;
    transition: background-color 0.5s ease;
}

.color-red {
    color: red;
}

.color-green {
    color: green;
}

.color-gray {
    color: gray;
}

.background-gray {
    background-color: lightgray;
}